<template>
  <div class="wrapper">
    <b-navbar id="custom-nav" toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#" class="text-left">
        <img src="@/assets/images/lightbulb.svg" class="mr-1 mb-1" width="30px" height="30px">
        <span class="top-bar-text">Advice</span>
      </b-navbar-brand>
    </b-navbar>

    <b-row class="justify-content-center ml-auto mr-auto">
        <b-col md="6">
          <b-row class="mt-4 title-of-advice-height">
            <b-col md="12" >
              <h6 class="title-of-advice">Advice for the young at heart</h6>
            </b-col>
          </b-row>

          <b-row class="api-advice-height">
            <b-col md="11" sm="11" cols="11" class="justify-content-center align-items-center d-flex api-advice-height-col">
              <b-row v-if="loader" class="justify-content-center w-100">
                <b-col md="2">
                  <b-spinner id="spinner" class="text-center"  variant="success" type="grow" label="Spinning"></b-spinner>
                </b-col>
              </b-row>
              <div v-else>
                <p class="advice">"{{api_advice}}"</p>
              </div>
            </b-col>
          </b-row>

          <b-row class="btn-height justify-content-center align-items-end">
            <b-col md="6">

              <button @click="copyText" class="btn btn-primary mr-2 mb-5" type="submit">
                <img src="@/assets/images/copy.svg" width="25" height="30px">
              </button>

              <button id="tweer" @click="tweet" class="btn btn-primary mr-2 mb-5 twitter-share-button">
<!--                <a  id="twi" data-size="large" href="`http://twitter.com/share"   class="twitter-share-button tweet d-none" data-count="horizontal">-->
<!--                </a>-->
                <img src="@/assets/images/twitter.svg" width="25" height="30px">
              </button>

              <button class="btn btn-primary mr-2 mb-5" type="submit">
                <img @click="advice" src="@/assets/images/reload.svg" width="25" height="30px">
              </button>


            </b-col>
          </b-row>

        </b-col>





      </b-row>




  </div>
</template>

<script>
// @ is an alias to /src
import Vue from 'vue';


export default {
  name: 'Home',
  data(){
    return{
      api_advice:null,
      loader:true
    }
  },
  mounted() {
    this.advice();

  },
  methods:{
    advice(){
        this.loader = true;
        this.api_advice='';
           this.$store.dispatch('advice').then(response=>{
             if(response.data && response.data.slip){
               this.api_advice = response.data.slip.advice
             }
             this.loader = false;
           })
      },
    copyText(){
      navigator.clipboard.writeText(this.api_advice);
      Vue.$toast.success('Copied.', {
        position:"top-right",
        width:'700px'
      })
    },
    tweet(){
      var button = document.createElement('a');
      button.classList += "twitter-share-button";
      button.innerHTML = "Tweet";

      button.setAttribute("href", `https://twitter.com/intent/tweet?text="${this.api_advice}&url="`);
      button.setAttribute("data-text", 'Muhammad Imran');
      button.setAttribute("target", '_blank');
      window.twttr.widgets.load();
      button.click();

    }

  }
}
</script>
<style scoped>
.top-bar-text{
  font-size: 20px;
}
.title-of-advice{
  color:#6c757d;
  font-weight: 600;
  font-size: 18px;
}
.title-of-advice-height{
  height: 18vh;
}
.api-advice-height{
  height: 50vh;
  display: flex;
  justify-content: center;
}
.api-advice-height-col{
  border: 1px solid rgba(154,161,171,.15);
  border-bottom-left-radius:20px ;
  border-top-right-radius:20px ;
  background-color: #ffffff;
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}
.api-advice-height-col:hover{
  box-shadow: unset !important;
}
.wrapper{
  /*heightt: 95vh;*/
}
.advice{
  font-family: 'MyWebFont';
  font-size: 24px !important;
  color: #727cf5;
  text-align: center;
}
.padding-custom{
  padding: 40px;
}
.parent-heading{
  font-size: 16px;
  font-family: Axiforma;
  font-weight: 600;
}
 .btn-height{
   height: 19vh;
 }
.text-success{
  color: #4e5bf2 !important;
}

.btn-primary {
  -webkit-box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
  box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #6c757d;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: .45rem .9rem;
  font-size: .9rem;
  line-height: 1.5;
  border-radius: .15rem;
  border-top-left-radius: 0.15rem;
  border-bottom-left-radius: 0.15rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.btn-primary:hover {
  color: #fff;
  background-color: #4e5bf2 !important;
  border-color: #4250f2 !important;
}
.btn-primary {
  color: #fff;
  background-color: #727cf5 ;
  border-color: #727cf5 ;
}
.btn:focus{
  box-shadow: unset !important;

}
#widget .btn-0 a .btn{
  background-color: #727cf5 !important;
}
</style>
<style>
.bg-info{
  background-color: #727cf5 !important;
}
#custom-nav{
  background-color: #727cf5 !important;
  box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
a{
  background-color: #727cf5 !important;
}

#twitter-widget-0 {

  background-color: #727cf5 !important;

}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
/*#tweer{*/
/*  height: 46px !important;*/
/*  background-color: #1b95e0 !important;*/
/*  width: 150px;*/
/*}*/
/*#tweer:hover{*/
/*  height: 46px !important;*/
/*  background-color: #0c7abf !important;*/
/*  width: 150px;*/
/*}*/
</style>
