<template>
  <div id="app">
     <router-view/>
  </div>
</template>

<style>

#app {
  font-family: "Axiforma";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  background-color: #fafbfe;
}
@font-face {
  font-family: 'MyWebFont';
  src:url('./assets/fonts/KaushanScript-Regular.ttf');/* IE6-IE8 */
}
@font-face {
  font-family: 'Axiforma';
  src:url('./assets/fonts/Axiforma/Axiforma-Regular.ttf');/* IE6-IE8 */
}



#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
